@keyframes fadeIn {
  0% {
    opacity: 0;
    border-radius: 50%;
  }
  100% {
    opacity: 100%;
    border-radius: 20px;
  }
}

body {
  margin: 0;
}

header {
  height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50px;
  }
}

.about {
  padding: 0 20px;

  img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    animation: fadeIn 1s ease-in;
  }
}

footer {
  height: 200px;
  background-image: url("/public/images/surf-black-beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}