@keyframes fadeIn {
  0% {
    opacity: 0;
    border-radius: 50%;
  }
  100% {
    opacity: 100%;
    border-radius: 20px;
  }
}

body {
  margin: 0 auto;
  max-width: 700px;
}

header {
  height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50px;
  }
}

.about {
  padding: 0 20px;

  img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    animation: fadeIn 1s ease-in;
  }
}

footer {
  position: relative;
  height: 200px;
  margin-top: 20px;
  background-image: url("/public/images/surf-black-beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;

  p {
    position: absolute;
    color: wheat;

    &:nth-child(1) {
      right: 30%;
    }

    &:nth-child(2) {
      top: 10%;
      right: 35%;
    }

    &:nth-child(3) {
      top: 20%;
      right: 40%;
    }

    &:nth-child(4) {
      bottom: 0;
      left: 10px;
      font-size: 0.5rem;
    }
  }

  img {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: default;

    &:hover {
      opacity: 0.4;
    }
  }
}