header {
  height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50px;
  }
}

.about {
  padding: 0 20px;

  img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
  }
}